<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navbar ul li {
    margin-right: 10px;
  }

body{
  background: beige;
  font-family: "Montserrat", sans-serif;
}

</style>

<body>
  <div class="navbar">
    <a href="/homepage">
      <img src="/images/Rater_Joes.png" class="img-responsive" style="width: 200px; height: auto;">
    </a>

    <ul>
      <li>
        <a href="/products">Products</a>
      </li>

      <% if session.fetch(:user_id) == nil %>
        <li>
          <a href="/user_sign_up">Sign up</a>
        </li>
        <li>
          <a href="/user_sign_in">Sign in</a>
        </li>
      <% else %>
        <li>
          <a href="/favorites">My List</a>
        </li>        
        <li>
          <a href="/user_sign_out">Sign out</a>
        </li>
      <% end %>
    </ul>
  </div>

  <hr>

  <%= yield %>
</body>
</html>
